.navbar{
    background-color: gray;
    height: 75px;
}

.navbar:hover{
    height:85px;
}

.logo{
    height: 70px;
    width: 70px;
    padding-left: 10px;
}

.logo:hover{
    height: 80px;
    width: 80px;
    padding-left: 10px;
}

.nav-list{
    list-style-type: none;
    float: right;
}

.item{
    color: #fff;
    float: left;
    padding: 14px 16px;
}

li:hover{
    font-size: 30px;
    padding: 5px 16px;
}